#btnGroup>ion-button {
    float: right;
}

.overflow-auto {
    height: 480px;
}

.display {
    display: block;
}

.hide {
    display: none;
}

.selectBox {
    height: 40px;
    width: 150px;
    border: solid 2px;
    border-radius: 5px;
}
#pgbar-readmenus-role{
    display: none;
    margin-bottom: 15px;
}
.nav-pills .nav-link {
    border-radius: 1rem;
}