<ion-content>
  <div class="myOuterContainer">
    <div class="tab-content" id="nav-tabContent">
 
      <div class="card sticky-top" style="margin-bottom: 8px; width: 100%; z-index: 10000;">
        <div class="card-header bg-transparent" style="width: 100%;">
          {{spinner? 'Loading order list':'Advance'}}
          <i *ngIf="!spinner" (click)="advanceSearch(searchtab? false: true);"
            [class]="searchtab? 'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'" aria-hidden="true">
          </i>
          <div class="spinner-border text-primary" role="status" id="spinner-advsearch" *ngIf="spinner">
            <span class="sr-only"></span>
          </div>
        </div>
        <div class="card-body" *ngIf="searchtab" id="advance-card">
          <div class="row">
            <div class="col">
              <div class="form-group row">
                  <label for="date1" class="col-sm-4 col-form-label col-form-label-sm">From Date</label>
                  <div class="col-sm">
                    <div class="input-group input-group-sm">
                      <input required [(ngModel)]="criteria.fromDate" class="form-control" matInput 
                        [matDatepicker]="pickers" placeholder="Select Date" name="date1" 
                        (dblclick)="dblClickFunc1()" (dateChange)="dateChange1($event)" readonly>
                      <div class="input-group-append">
                        <i class="input-group-text fa fa-calendar" aria-hidden="true" (click)="pickers.open()"></i>
                        <mat-datepicker #pickers displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY">
                        </mat-datepicker>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="form-group row">
                <label for="staid" class="col-sm-4 col-form-label col-form-label-sm">State</label>
                <div class="col-sm">
                  <select slot="end" style="font: small;" 
                    name="sta" class="custom-select custom-select-sm col-form-label-sm"  [(ngModel)]="criteria.state" id="sta" (change)="stateChange()">
                    <!-- [(ngModel)]="staobj.syskey"   -->
                    <option value="" selected>-</option>
                      <option [value]="i.syskey" *ngFor="let i of stateList">
                        {{i.t2}}
                      </option>
                  </select>
                </div>
              </div> 
              <div class="form-group row">
                  <label for="code" class="col-sm-4 col-form-label col-form-label-sm">Shop Code</label>
                  <div class="col-sm">
                    <input type="text" matInput id="code" class="form-control form-control-sm" [(ngModel)]="criteria.shopCode" 
                      >
                      <!--[formControl]="shopCodeSearch"  [matAutocomplete]="auto2">
                    <mat-autocomplete #auto2="matAutocomplete">
                      <mat-option *ngFor="let shop of shoplist1" [value]="shop.shopCode" style="font-size: small;">
                        {{shop.shopCode}}
                      </mat-option>
                    </mat-autocomplete> -->
                  </div>
              </div>
              
              <!-- <div class="form-group row">
                <label for="type" class="col-sm-4 col-form-label col-form-label-sm">Type</label>
                <div class="col-sm">
                  <select [(ngModel)]="criteria.type" class="custom-select custom-select-sm"
                    name="type" id="type">
                    <option value="" selected>-</option>
                    <option value="1">Order Product</option>
                    <option value="2">Return Product</option>
                  </select>
                </div>
              </div> -->
            </div>
            <div class="col">
              <div class="form-group row">
                <label for="date2" class="col-sm-4 col-form-label col-form-label-sm">To Date</label>
                <div class="col-sm">
                  <div class="input-group input-group-sm">
                    <input required [(ngModel)]="criteria.toDate" class="form-control" matInput 
                      [matDatepicker]="pickers1" placeholder="Select Date" name="date2" id="date2"
                      (dblclick)="dblClickFunc2()" (dateChange)="dateChange2($event)" readonly>
                    <div class="input-group-append">
                      <i class="input-group-text fa fa-calendar" aria-hidden="true" (click)="pickers1.open()"></i>
                      <mat-datepicker #pickers1 displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY">
                      </mat-datepicker>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="cri-tspcode" class="col-sm-4 col-form-label col-form-label-sm">
                  Township
                </label>
                <div class="col-sm">
                  <input type="text" id="cri-shop2" matInput class="form-control form-control-sm"
                    [(ngModel)]="criteria.township" [formControl]="tspNameSearch" (keyup.enter)="getTspListForAutoComplete()" 
                    [matAutocomplete]="auto5">
                  <mat-autocomplete #auto5="matAutocomplete">
                  <mat-option *ngFor="let place of tspList" [value]="place.t2"
                    style="font-size: small;"> {{place.t2}} </mat-option>
                  </mat-autocomplete>
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label col-form-label-sm">Shop Name</label>
                <div class="col-sm">
                  <input type="text" matInput id="name" class="form-control form-control-sm" [(ngModel)]="criteria.shopName" 
                     >
                    <!--[formControl]="shopNameSearch" [matAutocomplete]="auto4">
                  <mat-autocomplete #auto4="matAutocomplete">
                    <mat-option *ngFor="let shop of shoplist2" [value]="shop.shopName" style="font-size: small;">
                      {{shop.shopName}}
                    </mat-option>
                  </mat-autocomplete> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group row">
                <label for="owner-name" class="col-sm-4 col-form-label col-form-label-sm">Brand Owner</label>
                <div class="col-sm">
                  <select [(ngModel)]="criteria.brandOwner" class="custom-select custom-select-sm"
                    name="owner-name" id="owner-name" [disabled]="ownerList1.length==0">
                    <option value="" selected>-</option>
                    <option [value]="owner.syskey" *ngFor="let owner of ownerList1">
                      {{owner.t2}}
                    </option>
                  </select>
                </div>
              </div>
              <!-- <div class="form-group row">
                  <label for="user-name" class="col-sm-4 col-form-label col-form-label-sm">User Name</label>
                  <div class="col-sm">
                    <select [(ngModel)]="criteria.userName" class="custom-select custom-select-sm"
                      name="user-name" id="user-name" [disabled]="userList1.length==0">
                      <option value="" selected>-</option>
                      <option [value]="user.syskey" *ngFor="let user of userList1">
                        {{user.userName}}
                      </option>
                    </select>
                  </div>
                </div> -->
                <div class="form-group row">
                  <label for="cri-user" class="col-sm-4 col-form-label col-form-label-sm">User</label>
                  <div class="col-sm">
                    <mat-select class="form-control form-control-sm" [formControl]="toppings" 
                      [(ngModel)]="criteria.syskey"  multiple>                       
                        <mat-option [value]="-1" #triggerAllUserSelectOption (click)="toggleUserAllSelect()">
                          Select All
                        </mat-option>
                        <mat-option [value]="user.syskey" *ngFor="let user of userList1; let i = index"
                          [value]="user">
                          {{user.userName}}
                        </mat-option>
                    </mat-select>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"
                      *ngIf="userList1.length==0"></span>
                    
                  </div>
                </div>
              <!-- <div class="form-group row">
                <label for="spSKUCode" class="col-sm-4 col-form-label col-form-label-sm">SP SKU Code</label>
                <div class="col-sm">
                  <input [(ngModel)]="criteria.spSKUCode" type="text" class="form-control"
                    id="spSKUCode" name="spSKUCode"  required>
                </div>
              </div>
              <div class="form-group row">
                <label for="address" class="col-sm-4 col-form-label col-form-label-sm">Address</label>
                <div class="col-sm">
                  <textarea class="form-control form-control-sm text-monospace bg-transparent" id="address"
                    style="font-size: small;" rows="3" [(ngModel)]="criteria.location"></textarea>
                </div>
              </div> -->
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-start">
                <div class="btn-group" role="group" style="height: 35px;">
                  <button (click)="search(0)" type="button" class="btn btn-primary" [disabled]="spinner">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
                <button (click)="advanceSearchReset()" type="button" class="btn btn-primary">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button> 
                <div class="d-flex justify-content-start">
                  <div class="btn-group" style="height: 35px; margin-left: 10px;">
                    <button (click)="print()" type="button" class="btn btn-primary">
                      Export
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      <div class="table-responsive text-nowrap" style="max-height: 550px;">
        
        <table class="table table-hover " style="font-size: 13px;">
          <thead class="thead-dark">
            <tr>
              <th [class]="searchtab? '':'sticky-top'"  scope="col" style="width: 5px">#</th>
              <th [class]="searchtab? '':'sticky-top'" scope="col"> Date</th>
              <th [class]="searchtab? '':'sticky-top'" scope="col"> User</th>
              <th [class]="searchtab? '':'sticky-top'" scope="col"> Order By</th>
            <th [class]="searchtab? '':'sticky-top'" scope="col">Brand Owner</th>
            <th [class]="searchtab? '':'sticky-top'" scope="col">Type</th>
          <!-- <th [class]="searchtab? '':'sticky-top'" scope="col">SP Shop Code</th>--> 
            <th [class]="searchtab? '':'sticky-top'" scope="col">Shop Name</th>
            <th [class]="searchtab? '':'sticky-top'" scope="col">Order Number</th>
            
            <th [class]="searchtab? '':'sticky-top'" scope="col">Brand SKU Code</th>
            <th [class]="searchtab? '':'sticky-top'" scope="col">Stock Code</th>
            <th [class]="searchtab? '':'sticky-top'" scope="col">Stock Name</th>
            <th [class]="searchtab? '':'sticky-top'" scope="col">Quantity</th>
            <th [class]="searchtab? '':'sticky-top'" scope="col">Standard Price</th>
            <th [class]="searchtab? '':'sticky-top'" scope="col">Selling Price</th>
            <th [class]="searchtab?'':'sticky-top'" scope="col">Discount Amt</th>
            <th [class]="searchtab?'':'sticky-top'" scope="col">Percentage</th>
           <!-- <th [class]="searchtab?'':'sticky-top'" scope="col">Gift Item</th>-->
            <th [class]="searchtab?'':'sticky-top'" scope="col">Gift Qty</th>
            <th [class]="searchtab?'':'sticky-top'" scope="col">Gift Type</th> 
            <!--<th [class]="searchtab?'':'sticky-top'" scope="col">Dis Type</th>-->
            <th [class]="searchtab? '':'sticky-top'" scope="col" [hidden]='!isUseSAP'>Sales Type</th>
            <th [class]="searchtab? '':'sticky-top'" scope="col">Address</th>
           <!-- <th [class]="searchtab? '':'sticky-top'" scope="col">Status</th>-->
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of shopPersonList | paginate: config;let i = index" >
            <th scope="row">{{i+1}}</th>
            <td>{{d.fromDate}}</td>
            <td>{{d.userName}}</td>
            <td>{{d.order}}</td>
            <td>{{d.brandOwner}}</td>
            <td>{{d.type}}</td>
           <!-- <td>{{d.spShopCode}}</td>-->
            <td>{{d.shopName}}</td>
            <td>{{d.orderNumber}}</td>
            <td>{{d.spSKUCode}}</td>
            <td>{{d.skuCode}}</td>
            <td>{{d.skuName}}</td>
            <td>{{d.quantity}}</td>
            <td>{{d.nprice}}</td>
            <td>{{d.prices}}</td>
            <td>{{d.disamt}}</td>
            <td>{{d.dispercent}}</td>
            <!--<td>{{d.dissku}}</td>-->
            <td>{{d.giftquantity}}</td>
            <td>{{d.saveStatus}}</td>
            <!--<td>{{d.distype}}</td>-->
            <td [hidden]='!isUseSAP'>{{d.salesTypeDesc}}</td>
            <td>{{d.location}}</td>
            <!--<td>{{d.status == 1 ? 'promo sku':'normal sku'}}</td>--> 
          </tr>
              
          </tbody>
        </table>   
      </div>             
    </div>
  </div>
</ion-content>