#btnGroup > ion-button{
    margin-top: 5px;
    float: right;
}
.form-control,.custom-select{
    width: 170px;
}
.btndelete {

    background-color: rgb(189, 51, 80);

    color: white;

  }

.btndelete:hover {

    background-color:  #740110;

    color: white;

  }