#main{
    // margin-right: 40px !important;
    // margin-left: 40px !important;
    // margin-top: 40px !important;
    // margin-bottom: 40px !important;
    max-width: 400px;
    padding: 20px;
    margin: auto;
}