#btnGroup > ion-button{
    float: right;
}
.form-control-sm,.custom-select-sm{
    max-width: 200px;
}
.btndelete {

    background-color: rgb(189, 51, 80);

    color: white;

  }

.btndelete:hover {

    background-color:  #740110;

    color: white;

  }