<div class="d-flex justify-content-between sticky-top optionNavBar">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list"
                aria-selected="true" (change)="tab($event);" (click)="btn=false">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new"
                aria-selected="false" (click)="newTabClick($event); btn=true">{{zoneObj.syskey!==''?'Detail':'New'}}</a>
        </li>
    </ul>
    <div class="btn-group" role="group" style="height: 38px;" *ngIf="btn">
        <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Save</button>
        <button type="button" class="btn btn-primary" [disabled]="model.syskey=='0'"
            (click)="goDelete()">Delete</button>
    </div>
</div>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab"></div>
    <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab"></div>
</div>


<div class="form-group row">
    <label for="shop-email" class="col-sm-4 col-form-label">email</label>
    <div class="col-sm">
        <input type="text" id="shop-email" class="form-control form-control-sm" [(ngModel)]="searchObj.email">
    </div>
</div>


<select [(ngModel)]="obj.n1" class="custom-select custom-select" name="vendor" id="vendor">
    <option value="" selected>-</option>
    <option [value]="i.syskey" *ngFor="let i of _vendorList">
        {{i.t2}}
    </option>
</select>
<div class="table-responsive text-nowrap overflow-auto"></div>
<div class="d-flex justify-content-start"></div>
<i class="input-group-text fa fa-calendar" aria-hidden="true" (click)="picker.open()"></i>

<mat-accordion class="example-headers-align ">
    <mat-expansion-panel class="border rounded advance-search-panel mb-1">
      <mat-expansion-panel-header class="advance-search-panel-header">
        <mat-panel-title class="text-primary">
          <span *ngIf="!spinner">Advance</span>
          <div class="spinner-border text-primary" role="status" id="spinner-advsearch" *ngIf="spinner">
            <span class="sr-only"></span>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <small></small>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="custom-control custom-switch" style="width: 50px;">
    <input type="checkbox" class="custom-control-input" [id]="'active-switch-'+header.syskey" [(ngModel)]="header.n12" (change)="activeHeaderChange(header)">
    <label class="custom-control-label" [for]="'active-switch-'+header.syskey" style="width: 0px;"></label>
  </div>