<div class="card mb-2">
  <form [formGroup]="filterBoxFormGroup">
    <div class="card-body pb-0">
      <div class="row row-cols-1 row-cols-sm-3">
        <!-- <div class="col">
          <div class="form-group row">
            <label for="fd" class="col-sm-3 col-form-label">Date </label>
            <div class="col-sm">
              <div class="input-group  datepicker">
                  <input [(ngModel)]="criteria.fromDate" [min]="criteria.fromDate" matInput [matDatepicker]="fromDatePicker" placeholder="Select Date" class="form-control"
                  [disabled]="true" [ngModelOptions]="{standalone: true}" [disabled]="criteria.chkDate" readonly>
                <div class="input-group-append date-btn border-top border-right border-bottom py-2 px-2 rounded-right"
                  style="width: fit-content;" (click)="fromDatePicker.open()">
                  <i class="fa fa-calendar" aria-hidden="true "></i>
                  <mat-datepicker #fromDatePicker></mat-datepicker>
                </div>
              </div>
            </div>
            <label class="col-sm-3 col-form-label"><input type="checkbox" [(ngModel)]="criteria.chkDate" (change)="changeAllDate()" [ngModelOptions]="{standalone: true}" [disabled]="true">&nbsp;All</label>
          </div>
        </div> -->
        <div class="col">
          <div class="form-group row">
            <label for="fd" class="col-sm-3 col-form-label col-form-label-sm">Choose File </label>
            <div class="col-sm">
              <input type="file" id="crdfilechose" class="custom-file-input form-control-sm" name="crdfilechose" [ngModelOptions]="{standalone: true}"
              [ngModel]="importload" #chosecrdfile (click)="resetValue()" (change)="onUpload($event)" >
             <label class="custom-file-label col-form-label-sm text-truncate"
              matTooltip="chosecrdfile.value == ''? 'Name': chosecrdfile.value"
              for="crdfilechose">{{chosecrdfile.value == ''? 'Name': chosecrdfile.value}}</label>
            </div>           
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex bg-light border-top-0">
      <button class="btn btn-primary mr-3" id="btn-crdpreview" (click)="gotoPreview()">
        <i class="fa fa-eye mr-1"></i>
        Preview</button>
        <button class="btn btn-primary mr-3" id="btn-crdimport" (click)="gotoImport()" [disabled]="!crdImportBtn_Access">
          <i class="fa fa-file mr-1"></i>
          Import SAP Template</button>
      <button class="btn btn-primary" id="btn-crddownload" (click)="download()" [hidden]="true">
        <i class="fa fa-download mr-1"></i>
        Download</button>
    </div>
    <div class="progress" style="width: 100%;" id="progress-bar-crd">
      <div class="progress-bar progress-bar-success progress-bar-striped active progress-bar-animated" role="progressbar" aria-valuenow="83"
      aria-valuemin="0" aria-valuemax="100" style="width:100%">
      </div>
    </div>
  </form>
</div>
<div id="no-log-tab" *ngIf="flag.isDownload">
  <div class="border rounded py-1 px-1 mb-1 pl-1 d-flex"  id="crdbal-download-result">    
    <span class="text-dark btn"><i class="fa fa-info-circle"></i>{{resultData.message}}!</span>
    <div class="btn btn-link" (click)="showSuccessList()">
        <i class="fa fa-check" style="color: green;"></i>Successful Records : <strong style="color: green;">{{resultData.successList.length}}</strong>
    </div>
    <div class="btn btn-link" (click)="showFailList()"><i class="fa fa-times" style="color: red;"></i>Failed Records     : <strong style="color: red;">{{resultData.failList.length}}</strong></div>
    <!-- <div class="form-group ml-auto"> 
      <button class="btn btn-primary" id="" (click)="showDetail()" [disabled]="true"><i class="fa fa-list mr-1"></i>Show</button>
    </div> -->
  </div>
</div>
<div id="crdbal-detail-table" class="table-responsive text-nowrap overflow-auto mt-2">
  <pagination-controls id="crdbaldetail" (pageChange)="pageChanged($event)">
  </pagination-controls>
  <table class="table table-hover" style="font-size: 13px;">
    <thead class="thead-dark">
      <tr class="bg-light">
        <th>No.</th>
        <th>CUSTOMER_ID</th>
        <th>CUSTOMER_NAME</th>
        <th>LAST_UPDATED_DATE</th>
        <th>BLOCK_STATUS</th>
        <th>CREDIT_AVAILABLE_BALANCE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crdb of _crdlistdata | paginate : config; let i = index">
        <td>{{i+1}}</td>
        <td>{{crdb.CUSTOMER_ID}}</td>
        <td>{{crdb.CUSTOMER_NAME}}</td>
        <td>{{crdb.LAST_UPDATED_DATE}}</td>
        <td>{{crdb.BLOCK_STATUS}}</td>
        <td>{{crdb.CREDIT_AVAILABLE_BALANCE}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="crdbal-result-table" class="table-responsive text-nowrap overflow-auto mt-2">
  <pagination-controls id="crdbalresult" (pageChange)="pageChanged($event)">
  </pagination-controls>
  <table class="table table-hover" style="font-size: 13px;">
    <thead class="thead-dark">
      <tr class="bg-light">
        <th>No.</th>
        <th>CUSTOMER_ID</th>
        <th>CUSTOMER_NAME</th>
        <th>LAST_UPDATED_DATE</th>
        <th>BLOCK_STATUS</th>
        <th>CREDIT_AVAILABLE_BALANCE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rcrdb of _resultList | paginate : config; let i = index">
        <td>{{i+1}}</td>
        <td>{{rcrdb.customerID}}</td>
        <td>{{rcrdb.customerName}}</td>
        <td>{{rcrdb.lastUpdateDate}}</td>
        <td>{{rcrdb.blockStatus}}</td>
        <td>{{rcrdb.creditBalance}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <div id="log-tab" *ngIf="filterBoxFormGroup.get('log').value">
  <div id="crdbal-log-table">
    <pagination-controls>
    </pagination-controls>
    <table class="table table-sm mt-2">
      <tr class="bg-light">
        <th>No</th>
        <th>File Name</th>
        <th>Date</th>
        <th>Batch No</th>
        <th width="20px"></th>
      </tr>
      <tr *ngFor="let i of tableData | paginate : config">
        <td>1</td>
        <td>batch_1</td>
        <td>27-8-2021</td>
        <td>1</td>
        <td>
          <button class="btn btn-link">Download</button>
        </td>
      </tr>
    </table>
  </div>

</div> -->